
/*
font-family: 'Della Respira', serif;
font-family: 'Lato', sans-serif;
*/

html{
  overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden; /*Esconder a barra*/
    font-family: 'Lato', sans-serif;
    list-style: none;
    box-sizing: border-box;
    background: #101010;
    overflow-x: hidden;
}

nav{
    z-index: 100;
    height: 8vh;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}

.logo{
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    padding-top: 20px;
}


section{
    height: 100vh;
    overflow: hidden;
}

.bg img{
    width: 110vw;
    height: 110vh;
    filter: brightness(0.4);
}

.text h1{
    font-family: 'Della Respira', serif !important;
    font-size: 3vw;
    color: #fff;
    letter-spacing: 20px;
    position: absolute;
    text-align: center;
    top: 34vh;
    left: 10vw;
    width: 400px;
}

.zeus img{
    width: 900px;
    height: 600px;
    position: absolute;
    left: 34vw;
    top: 10vh;
    z-index:1;
    filter: brightness(0.7);
}

.clouds{
    position: absolute;
    z-index: 3;
    left: 0;
    top: 285px;
    width: 100%;
    height: 49%;
    margin-top: 90px;
}


section .clouds img{
    position: absolute;
    bottom: 0;
    max-width: 100%;
    animation: animate calc(10s * var(--i)) linear infinite;
}

@keyframes animate{
    0%{
        transform: translateX(-90%);
    }
    100%{
        transform: translateX(100%);
    }
}


#sectionslider{
  text-align: center;
  align-items: center;
  justify-content: center;
}
.img-slider{
    position: relative;
    width: 800px;
    height: 510px;
    margin: 10px;
    background: #1D212B;
    margin-top: 100px;
    margin-left: 350px;
  }
  
  .img-slider .slide{
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
  }
  
  .img-slider .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
  }
  
  #sectionslider{
      background-color: #111;
  }
  .img-slider .slide img{
    z-index: 1;
    width: 100%;
    border-radius: 5px;
    filter: brightness(0.4);
  }
  
  .img-slider .slide .info{
    position: absolute;
    top: 0;
    padding: 15px 30px;
  }
  
  .img-slider .slide .info h2{
    color: #fff;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
  }
  
  .img-slider .slide .info p{
    color: #fff;
    background: rgba(0, 0, 0, 0.623);
    font-size: 16px;
    width: 60%;
    padding: 10px;
    border-radius: 5px;
  }
  
  .img-slider .navigation{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .img-slider .navigation .btn{
    background: rgba(255, 255, 255, 0.5);
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .img-slider .navigation .btn.active{
    background: #2696E9;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  }
  
  .titulo h5{
      color: #fff;
      font-family: 'Della Respira', serif;
      font-size: 25px;
      text-align: center;
  }


  @media (max-width: 820px){
    .img-slider{
      width: 600px;
      height: 375px;
    }
  
    .img-slider .slide .info{
      padding: 10px 25px;
    }
  
    .img-slider .slide .info h2{
      font-size: 35px;
    }
  
    .img-slider .slide .info p{
      width: 70%;
      font-size: 15px;
    }
  
    .img-slider .navigation{
      bottom: 25px;
    }
  
    .img-slider .navigation .btn{
      width: 10px;
      height: 10px;
      margin: 8px;
    }
  }
  
  @media (max-width: 620px){
    .img-slider{
      width: 400px;
      height: 250px;
    }
  
    .img-slider .slide .info{
      padding: 10px 20px;
    }
  
    .img-slider .slide .info h2{
      font-size: 30px;
    }
  
    .img-slider .slide .info p{
      width: 80%;
      font-size: 13px;
    }
  
    .img-slider .navigation{
      bottom: 15px;
    }
  
    .img-slider .navigation .btn{
      width: 8px;
      height: 8px;
      margin: 6px;
    }
  }
  
  @media (max-width: 420px){
    .img-slider{
      width: 320px;
      height: 200px;
    }
  
    .img-slider .slide .info{
      padding: 5px 10px;
    }
  
    .img-slider .slide .info h2{
      font-size: 25px;
    }
  
    .img-slider .slide .info p{
      width: 90%;
      font-size: 11px;
    }
  
    .img-slider .navigation{
      bottom: 10px;
    }
  }

#sectiontwo{
    width: 100%;
    height: 100vh;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 45px;
    margin-top: 0px;
    padding-top: 0px;
}

.box{
    width: 350px;
    height: 490px;
    background-color: #1e1e26;
    border-radius: 10px;
    box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box ;
    margin-top: 0px;
    margin: 20px 10px;
}

.model{
    margin-top: 10px;
    height: 250px;
    max-height: 100%;
    max-width: 100%;
}

.details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.details p{
    font-family: 'Lato', sans-serif;
     font-weight: bold;
     color: #6a6a74;
     margin-top: 0px;
}

.deuses{
    color: #504e4e3e;
    font-weight: bold;
    letter-spacing: 20px;
    font-family: 'Della Respira', serif;
    font-size: 20px;
}

.details h3{
    color: #fff;
    font-family: 'Della Respira', serif;
    font-size: 25px;
    margin-bottom: 5px;
}

.box:hover{
    background-color: #1717171d;
    transform-style: preserve-3d;
    transform: scale(1.02);
    transition: all ease 0.3s;
}

.box:hover .deuses{
    color: #1023cf;
    transition: all ease 0.3s;
}



/*Responsividade*/
@media(max-width:800px){
  .clouds{
    visibility: hidden;
    display: none;
  }
}
@media(max-width:720px){
	.box{
		width: 94%;
		height: 500px;
	}
	.model{
		height:250px;
	}
	.details p{
		font-size: 16px;
		width: 250px;
	}
    .zeus img{
        width: 500px;
        height: 400px;
        position: absolute;
        left: 3vw;
        top: 50vh;
        z-index:1;
        filter: brightness(0.7);
    }
    
    .clouds{
        visibility: hidden;
        display: none;
    }
}
@media(max-width:500px){
	html{
    overflow-x: hidden;
  }
  .zeus img{
        width: 500px;
        height: 400px;
        position: absolute;
        left: 3vw;
        top: 50vh;
        z-index:1;
        filter: brightness(0.7);
  }
    
  .clouds{
        visibility: hidden;
  }
  section .img-slider{
        visibility: hidden;
        display: none;

  }
  section #sectionslider {
    height: 0vh;
    visibility: hidden;
  }
}
@media(max-width:1024px){

    .zeus img{
        width: 1024px;
        height: 900px;
        position: absolute;
        left: 3vw;
        top: 50vh;
        z-index:1;
        filter: brightness(0.7);
    }

    .clouds{
        top: 610px;
    }
    #sectionslider{
        visibility: hidden;
        display: none;
    }
}
